LibSimModelAPI/Old_Demo/3rd_demo_SWIG_dataIO/simmodel_schema/simcore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://d-alchemy.com/schema/simxml/SimModelCore/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:simcore="http://d-alchemy.com/schema/simxml/SimModelCore/" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<!-- Value elements, simple types and enumerations -->
	<xs:simpleType name="logical">
		<xs:restriction base="xs:string">
			<xs:enumeration value="true"/>
			<xs:enumeration value="false"/>
			<xs:enumeration value="undefined"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="logicalItem" type="simcore:logical"/>
	<xs:element name="booleanItem" type="xs:boolean"/>
	<xs:element name="integerItem" type="xs:integer"/>
	<xs:element name="doubleItem" type="xs:double"/>
	<xs:element name="stringItem" type="xs:string"/>
	<xs:element name="mixedItem">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="simcore:booleanItem"/>
				<xs:element ref="simcore:doubleItem"/>
				<xs:element ref="simcore:integerItem"/>
				<xs:element ref="simcore:logicalItem"/>
				<xs:element ref="simcore:stringItem"/>
			</xs:choice>
			<xs:attribute name="TypeName" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="integerList">
		<xs:list itemType="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="doubleList">
		<xs:list itemType="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="booleanList">
		<xs:list itemType="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="logicalList">
		<xs:list itemType="simcore:logical"/>
	</xs:simpleType>

	<!-- Entity elements -->
	<xs:complexType name="SimActorDefinition" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimResourceObject">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimAppDefault" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimResourceObject">
<xs:sequence>
<xs:element ref="simcore:DefaultForProject" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:DefaultForPerson" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:DefaultForUnitSystem" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimBldgModelParams" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimResourceObject">
<xs:sequence>
<xs:element ref="simcore:ObjectIndex" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:ObjectName" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:IsAutoGenerated" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:LocalPlacementX" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:LocalPlacementY" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:LocalPlacementZ" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:LocalPlacementRotation" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:XDirectionX" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:XDirectionY" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:XDirectionZ" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimBuildingElement" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimElement">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimDistributionControlElement" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimDistributionElement">
<xs:sequence>
<xs:element ref="simcore:AssignedToFlowElement" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:ControlElementID" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimDistributionElement" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimElement">
<xs:sequence>
<xs:element ref="simcore:DockedToPort" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimDistributionFlowElement" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimDistributionElement">
<xs:sequence>
<xs:element ref="simcore:ControlledBy" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:_3dLength" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:_3dWidth" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:_3dHeight" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimElement" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimObject">
<xs:sequence>
<xs:element ref="simcore:GeometricRepresentations" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:ContainingSpatialStructure" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:AssignedToGroups" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:Placement" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:Tag" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:SelectedPropertyGroups" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimFeatureElement" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimResourceObject">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGeometricRepresentationItem" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimRepresentationItem">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup">
<xs:complexContent>
<xs:extension base="simcore:SimObject">
<xs:sequence>
<xs:element ref="simcore:ParentGroups" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:ContainingBuildings" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:NevronSchematicLayout" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:TemplatesForMembers" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:HasTemplateChanged" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:ChangeFromTemplate" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:MemberUsedForDiagrams" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_BldgCompGroup" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_BldgCompGroup_AirTerminal">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_BldgCompGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_BldgCompGroup_Coil">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_BldgCompGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_BldgCompGroup_Default">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_BldgCompGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_BldgCompGroup_Sensor">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_BldgCompGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_BldgCompGroup_ZoneController">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_BldgCompGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_BldgCompGroup_ZoneEquipment">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_BldgCompGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_BldgElementGroup" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_BldgElementGroup_Default">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_BldgElementGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_BuildingGroup" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_BuildingGroup_Default">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_BuildingGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_ConnectorList" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_ConnectorList_AirConnections">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_ConnectorList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_ConnectorList_ChilledWaterConnections">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_ConnectorList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_ConnectorList_CondenserConnections">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_ConnectorList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_ConnectorList_ControllerConnections">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_ConnectorList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_ConnectorList_HotWaterConnections">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_ConnectorList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_ConnectorList_ServiceHotWaterConnections">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_ConnectorList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_ConnectorList_SimConnections">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_ConnectorList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_ConnectorList_SteamConnections">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_ConnectorList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_ControllerList" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_ControllerList_Default">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_ControllerList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_DefaultGroup" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_DefaultGroup_Default">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_DefaultGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_DefaultList" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_DefaultList_Default">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_DefaultList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_EquipmentList" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_EquipmentList_CondenserEquipment">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_EquipmentList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_EquipmentList_ElectricalLoadCenter">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_EquipmentList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_EquipmentList_OutdoorAirSystem">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_EquipmentList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_EquipmentList_OutdoorAirUnit">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_EquipmentList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_EquipmentList_PlantEquipment">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_EquipmentList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_EquipmentList_RefrigerationCompressor">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_EquipmentList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_EquipmentList_RefrigerationEquipment">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_EquipmentList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_EquipmentList_RefrigerationLoadTransfer">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_EquipmentList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_EquipmentList_ServiceHotWater">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_EquipmentList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_EquipmentList_ZoneHvac">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_EquipmentList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_HvacDemandGroup" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_HvacDemandGroup_AirSystem">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_HvacDemandGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_HvacDemandGroup_RefrigerationSystem">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_HvacDemandGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_HvacDemandGroup_WaterSystem">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_HvacDemandGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_MaterialList" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_MaterialList_Default">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_MaterialList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_NodeList" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_NodeList_Default">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_NodeList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_NodeList_OutdoorAir">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_NodeList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_OutputRequestList" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_OutputRequestList_Daylighting">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_OutputRequestList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_OutputRequestList_Environmental">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_OutputRequestList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_OutputRequestList_Fuel">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_OutputRequestList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_OutputRequestList_Geometry">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_OutputRequestList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_OutputRequestList_Meters">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_OutputRequestList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_OutputRequestList_Reports">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_OutputRequestList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_OutputRequestList_Variables">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_OutputRequestList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_Refrigeration" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_Refrigeration_ChillerSet">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_Refrigeration">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_SchemeList" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_SchemeList_AirLoopAvailabilityMgrScheme">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_SchemeList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_SchemeList_AirTempControlScheme">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_SchemeList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_SchemeList_CondenserOperatingScheme">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_SchemeList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_SchemeList_DemandManagerScheme">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_SchemeList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_SchemeList_MultiZoneHumidityScheme">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_SchemeList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_SchemeList_PlantLoopAvailabilityMgrScheme">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_SchemeList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_SchemeList_PlantOperatingScheme">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_SchemeList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_SchemeList_SingleZoneHumidityScheme">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_SchemeList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_SchemeList_WaterTempControlScheme">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_SchemeList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_SpatialZoneGroup" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_SpatialZoneGroup_Daylighting">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_SpatialZoneGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_SpatialZoneGroup_Lighting">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_SpatialZoneGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_SpatialZoneGroup_NaturalVentilation">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_SpatialZoneGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_SpatialZoneGroup_PlenumZoneGroup">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_SpatialZoneGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_SpatialZoneGroup_ServiceHotWater">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_SpatialZoneGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_SpatialZoneGroup_ZoneGroup">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_SpatialZoneGroup">
<xs:sequence>
<xs:element ref="simcore:SimGroup_ZoneListName" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:SimGroup_Zone_1_500_Name" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:ZoneGroup_ZoneGrpName" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:ZoneGroup_ZoneListName" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:ZoneGroup_ZoneListMult" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_SpatialZoneGroup_ZoneHvacGroup">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_SpatialZoneGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_SurfaceGroup" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_SurfaceGroup_Default">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_SurfaceGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_SurfaceGroup_LowTempRadiant">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_SurfaceGroup">
<xs:sequence>
<xs:element ref="simcore:SimGroup_Name" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:SimGroup_SurfName_1_100" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:SimGroup_FlowFractionForSurface_1_100" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_SurfaceGroup_VentilatedSlab">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_SurfaceGroup">
<xs:sequence>
<xs:element ref="simcore:SimGroup_Name" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:SimGroup_Zone_1_10_Name" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:SimGroup_SurfName_1_10" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:SimGroup_CoreDiamSurf_1_10" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:SimGroup_CoreLengthSurf_1_10" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:SimGroup_CoreNumbsSurf_1_10" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:SimGroup_SlabInNodeNameForSurf_1_10" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:SimGroup_SlabOutNodeNameSurf_1_10" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_TemplateOutputRequestList" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_TemplateOutputRequestList_Daylighting">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_TemplateOutputRequestList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_TemplateOutputRequestList_FuelAndEnvironmental">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_TemplateOutputRequestList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_TemplateOutputRequestList_Geometry">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_TemplateOutputRequestList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_TemplateOutputRequestList_Meters">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_TemplateOutputRequestList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_TemplateOutputRequestList_Reports">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_TemplateOutputRequestList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_TemplateOutputRequestList_Variables">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_TemplateOutputRequestList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_VrfList" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimGroup">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimGroup_VrfList_VrfTerminals">
<xs:complexContent>
<xs:extension base="simcore:SimGroup_VrfList">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimObject" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimObjectDefinition">
<xs:sequence>
<xs:element ref="simcore:TypeDefinition" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:ObjectType" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:ObjectCreationParams" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:IsTemplateObject" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimObjectDefinition" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimRoot">
<xs:sequence>
<xs:element ref="simcore:Decomposes" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimObjectPlacement" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimResourceObject">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimObjectTypeDefinition" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimObjectDefinition">
<xs:sequence>
<xs:element ref="simcore:ApplicableOccurrence" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:HasPropertySets" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:TypeDefCreationParams" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:PlacementRelToContainingTypeDef" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimProperty" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimResourceObject">
<xs:sequence>
<xs:element ref="simcore:Name" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:Value" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:ContainingPset" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:UnitType" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimPropertySetDefinition" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimResourceObject">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimRepresentation" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimResourceObject">
<xs:sequence>
<xs:element ref="simcore:RepresentationContext" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:RepresentationIdentifier" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:RepresentationType" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:RepresentationItems" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimRepresentationItem" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimResourceObject">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimResourceObject" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimRoot">
<xs:sequence>
<xs:element ref="simcore:AssignedToGroups" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:SelectedPropertyGroups" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:IsTemplateObject" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimRoot" abstract="true">
<xs:sequence>
<xs:element ref="simcore:Description" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:ObjectOwnerHistory" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:IfcGlobalID" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:IfcName" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:SimUniqueID" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:SimModelType" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:SimModelSubtype" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:SimModelName" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:SourceModelSchema" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:SourceModelObjectType" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:SourceLibraryEntryID" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:SourceLibraryEntryRef" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
<xs:attribute name="RefId" type="xs:ID" use="required"/>
	</xs:complexType>
<xs:complexType name="SimSpatialStructureElement" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimObject">
<xs:sequence>
<xs:element ref="simcore:LongName" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:CompositionType" minOccurs="0" maxOccurs="1"/>
<xs:element ref="simcore:Placement" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimTemplate" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimResourceObject">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimTimeSeries" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimResourceObject">
</xs:extension>
</xs:complexContent>
	</xs:complexType>
<xs:complexType name="SimTopologicalRepresentationItem" abstract="true">
<xs:complexContent>
<xs:extension base="simcore:SimRepresentationItem">
</xs:extension>
</xs:complexContent>
	</xs:complexType>

	
	<!-- Property elements -->
	<xs:element name="DefaultForProject"  type="xs:IDREF"/>
<xs:element name="DefaultForPerson"  type="xs:IDREF"/>
<xs:element name="DefaultForUnitSystem"  type="xs:string"/>
<xs:element name="ObjectIndex"  type="xs:int" nillable ="true"/>
<xs:element name="ObjectName"  type="xs:string"/>
<xs:element name="IsAutoGenerated"  type="xs:boolean" nillable ="true"/>
<xs:element name="LocalPlacementX"  type="xs:double" nillable ="true"/>
<xs:element name="LocalPlacementY"  type="xs:double" nillable ="true"/>
<xs:element name="LocalPlacementZ"  type="xs:double" nillable ="true"/>
<xs:element name="LocalPlacementRotation"  type="xs:double" nillable ="true"/>
<xs:element name="XDirectionX"  type="xs:double" nillable ="true"/>
<xs:element name="XDirectionY"  type="xs:double" nillable ="true"/>
<xs:element name="XDirectionZ"  type="xs:double" nillable ="true"/>
<xs:element name="AssignedToFlowElement"  type="xs:IDREFS"/>
<xs:element name="ControlElementID"  type="xs:string"/>
<xs:element name="DockedToPort"  type="xs:IDREF"/>
<xs:element name="ControlledBy"  type="xs:IDREFS"/>
<xs:element name="_3dLength"  type="xs:double" nillable ="true"/>
<xs:element name="_3dWidth"  type="xs:double" nillable ="true"/>
<xs:element name="_3dHeight"  type="xs:double" nillable ="true"/>
<xs:element name="GeometricRepresentations"  type="xs:IDREFS"/>
<xs:element name="ContainingSpatialStructure"  type="xs:IDREF"/>
<xs:element name="AssignedToGroups"  type="xs:IDREFS"/>
<xs:element name="Placement"  type="xs:IDREF"/>
<xs:element name="Tag"  type="xs:string"/>
<xs:element name="SelectedPropertyGroups">
<xs:complexType>
<xs:sequence maxOccurs="unbounded">
<xs:element ref="simcore:stringItem"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ParentGroups"  type="xs:IDREFS"/>
<xs:element name="ContainingBuildings"  type="xs:IDREFS"/>
<xs:element name="NevronSchematicLayout"  type="xs:string"/>
<xs:element name="TemplatesForMembers"  type="xs:IDREFS"/>
<xs:element name="HasTemplateChanged"  type="xs:boolean" nillable ="true"/>
<xs:element name="ChangeFromTemplate"  type="xs:string"/>
<xs:element name="MemberUsedForDiagrams"  type="xs:IDREF"/>
<xs:element name="SimGroup_ZoneListName"  type="xs:string"/>
<xs:element name="SimGroup_Zone_1_500_Name"  type="xs:IDREFS"/>
<xs:element name="ZoneGroup_ZoneGrpName"  type="xs:string"/>
<xs:element name="ZoneGroup_ZoneListName"  type="xs:IDREF"/>
<xs:element name="ZoneGroup_ZoneListMult"  type="xs:int" nillable ="true"/>
<xs:element name="SimGroup_Name"  type="xs:string"/>
<xs:element name="SimGroup_SurfName_1_100"  type="xs:IDREFS"/>
<xs:element name="SimGroup_FlowFractionForSurface_1_100"  type="simcore:doubleList"/>
<xs:element name="SimGroup_Zone_1_10_Name"  type="xs:IDREFS"/>
<xs:element name="SimGroup_SurfName_1_10"  type="xs:IDREFS"/>
<xs:element name="SimGroup_CoreDiamSurf_1_10"  type="simcore:doubleList"/>
<xs:element name="SimGroup_CoreLengthSurf_1_10"  type="simcore:doubleList"/>
<xs:element name="SimGroup_CoreNumbsSurf_1_10"  type="simcore:doubleList"/>
<xs:element name="SimGroup_SlabInNodeNameForSurf_1_10">
<xs:complexType>
<xs:sequence maxOccurs="unbounded">
<xs:element ref="simcore:stringItem"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="SimGroup_SlabOutNodeNameSurf_1_10">
<xs:complexType>
<xs:sequence maxOccurs="unbounded">
<xs:element ref="simcore:stringItem"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="TypeDefinition"  type="xs:IDREF"/>
<xs:element name="ObjectType"  type="xs:string"/>
<xs:element name="ObjectCreationParams"  type="xs:IDREF"/>
<xs:element name="IsTemplateObject"  type="xs:boolean" nillable ="true"/>
<xs:element name="Decomposes"  type="xs:IDREF"/>
<xs:element name="ApplicableOccurrence"  type="xs:string"/>
<xs:element name="HasPropertySets"  type="xs:IDREFS"/>
<xs:element name="TypeDefCreationParams"  type="xs:IDREF"/>
<xs:element name="PlacementRelToContainingTypeDef"  type="xs:IDREF"/>
<xs:element name="Name"  type="xs:string"/>
<xs:element name="Value">
<xs:complexType>
<xs:choice>
<xs:element ref="simcore:mixedItem"/>
</xs:choice>
</xs:complexType>
</xs:element>
<xs:element name="ContainingPset"  type="xs:IDREF"/>
<xs:element name="UnitType"  type="xs:IDREF"/>
<xs:element name="RepresentationContext"  type="xs:IDREF"/>
<xs:element name="RepresentationIdentifier"  type="xs:string"/>
<xs:element name="RepresentationType"  type="xs:string"/>
<xs:element name="RepresentationItems"  type="xs:IDREFS"/>
<xs:element name="Description"  type="xs:string"/>
<xs:element name="ObjectOwnerHistory"  type="xs:IDREF"/>
<xs:element name="IfcGlobalID"  type="xs:string"/>
<xs:element name="IfcName"  type="xs:string"/>
<xs:element name="SimUniqueID"  type="xs:string"/>
<xs:element name="SimModelType"  type="xs:string"/>
<xs:element name="SimModelSubtype"  type="xs:string"/>
<xs:element name="SimModelName"  type="xs:string"/>
<xs:element name="SourceModelSchema"  type="xs:string"/>
<xs:element name="SourceModelObjectType"  type="xs:string"/>
<xs:element name="SourceLibraryEntryID"  type="xs:string"/>
<xs:element name="SourceLibraryEntryRef"  type="xs:IDREF"/>
<xs:element name="LongName"  type="xs:string"/>
<xs:element name="CompositionType"  type="xs:string"/>


</xs:schema>